:root {
    --primary-color: #8E1800;
    --black: #150100;
    --white: #F0F0F0;
}

body{
    margin: 0;
      padding: 0;
      height: 100vh;
      background-image: url('../material/fundoParqueHorror.png'); /* 👉 coloque o link da sua imagem */
      background-size: cover;        /* cobre toda a tela */
      background-position: center;   /* centraliza a imagem */
      background-repeat: no-repeat;  /* impede repetição */
      background-attachment: fixed;  /* opcional: fixa a imagem no scroll */
}
h1{
    color: var(--white);
}
input{
    width: 500px;
}
.leaderboard-container{
    background-color: var(--black);
    max-width: 600px;
    align-items: center;
    border-radius: 15px;
}
.display-ranking{
    background-color: var(--primary-color);
    padding: 12px;
    width: 550px;
    border-radius: 15px;
    margin-top: 15px;

}

