:root {
    --primary-color: #8E1800;
    --black: #150100;
    --white: #F0F0F0;
}


h1{
    color: var(--white);
}
input{
    width: 500px;
    border-radius: 10px;
}
.leaderboard-container{
    background-color: var(--black);
    max-width: 750px;
    align-items: center;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    height: 500px;
}
.display-ranking{
    background-color: var(--primary-color);
    padding:10px;
    width: 700px;
    border-radius: 15px;
    margin-top: 15px;
    height: 62px;   

}

.p1{
    margin-left: -14px;
}
.p2{
    text-align: end;
}
.img-boll{
    margin-right: 12px;
}


