.container {
    width: 100%;
}

.mcontainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.form-registro{
    background-color: rgba(var(--black), 0.72) !important;
    backdrop-filter: blur(2px);
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    

    padding: 60px 20px;
    border-radius: 12px;
    width: 60%;
    height: 80%;
    
}

.afacad-regular {
    width: 80%;
}

.inpu {
    display: inline;
    margin-left: 14%;
}

.form-control{
    width: 75%;
    height: 40px;
    border-radius: 12px;
    display: block;
    margin: 10px auto; 
}

.form-control:active{
    border: none;
}

.label-control {
    font-size: 22px;
    justify-content: center;
}

.btn {
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--primary-color), 1);
    border-radius: 12px;
    width: 35%;
    height: 40px;
    margin: 10px auto;
}

.btn p {
    margin: 0;
    font-size: 20px;
}

.btn:hover{
    background-color: rgba(var(--primary-color), 1);
    transform: scale(1.1);
    transition: 0.3s;
}
.creepster-title{
    text-align: center;
    margin-bottom: 10%;
    font-size:60px
}

/* Animação sutil de aparição */
.mcontainer {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}


