  * {
      margin: 0px;
      padding: 0px;
  }

  :root {
      --primary-color: 142, 24, 0;
      --black: 21, 1, 0;
      --white: 240, 240, 240;
  }

  body{
    margin: 0;
      padding: 0;
      height: 100vh;
      background-image: url('../material/fundoParqueHorror.png'); /* 👉 coloque o link da sua imagem */
      background-size: cover;        /* cobre toda a tela */
      background-position: center;   /* centraliza a imagem */
      background-repeat: no-repeat;  /* impede repetição */
      background-attachment: fixed;  /* opcional: fixa a imagem no scroll */
}

  .roboto-regular {
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: normal;
      font-style: normal;
      font-variation-settings:
          "wdth" 100;
    color: #F0F0F0;
    
  }

  .roboto-subtitle {
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: bold;
      font-style: normal;
      font-variation-settings:
          "wdth" 100;
  }

  .roboto-title {
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: bolder;
      font-style: normal;
      font-variation-settings:
          "wdth" 100;
  }

  .footer-bg {
      background-color: bisque;
      margin-bottom: auto;
  }

  .afacad-regular {
      font-family: "Afacad", sans-serif;
      font-optical-sizing: auto;
      font-weight: normal;
      font-style: normal;
      font-variation-settings:
          "wdth" 100;
  }

  .afacad-subtitle {
      font-family: "Afacad", sans-serif;
      font-optical-sizing: auto;
      font-weight: bold;
      font-style: normal;
      font-variation-settings:
          "wdth" 100;
  }

  .creepster-title {
      font-family: "Creepster", sans-serif;
      font-optical-sizing: auto;
      font-weight: bolder;
      font-style: normal;
      font-variation-settings:
          "wdth" 100;
  }